
<h1>.::PAGINA PRINCIPAL::.</h1>
<p>SEJA BEM VINDO</p>

<%= link_to 'Usuários', pessoas_path %>
</br> </br> <hue><hue>
<%= link_to 'Grupos de Usuários', grupos_path %>
</br> </br> <hue><hue>
<%= link_to 'Relatórios', relatorio_index_path %>
</br> </br> <hue><hue>
<%= link_to 'SAIR', '/' %>
