<p id="notice"><%= notice %></p>

<div class="container">
  <h3>Seja Bem Abduzido</h3	>

  	

  <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYSRd73S4jjvmr_aUOoR3hk3Ie5lqHQYjG6SF6CRWc1g-eZVdc', :class => "img-circle"  %>

</div>

