<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @pagina_principal.index %>
</p>

<%= link_to 'Edit', edit_pagina_principal_path(@pagina_principal) %> |
<%= link_to 'Back', pagina_principals_path %>
