<div id="conteudo" class="container">
	<h3>Login</h3>
	<%= form_tag do %>
		</br>
		<label for='login'>Usuário</label></br>
		<%= text_field_tag :email %></br></br>
		<label for='login'>Senha</label></br>
		<%= text_field_tag :senha %>
		</br></br>
		<%= submit_tag "Entrar" %> 

	<% end %>
</div>